# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*
